###############################################################################
#ASM: a very small and fast Java bytecode manipulation framework
#Copyright (c) 2000-2011 INRIA, France Telecom
#All rights reserved.
#
#Redistribution and use in source and binary forms, with or without
#modification, are permitted provided that the following conditions
#are met:
#1. Redistributions of source code must retain the above copyright
#   notice, this list of conditions and the following disclaimer.
#2. Redistributions in binary form must reproduce the above copyright
#   notice, this list of conditions and the following disclaimer in the
#   documentation and/or other materials provided with the distribution.
#3. Neither the name of the copyright holders nor the names of its
#   contributors may be used to endorse or promote products derived from
#   this software without specific prior written permission.
#
#THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
#AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
#IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
#ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
#LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
#CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
#SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
#INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
#CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
#ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
#THE POSSIBILITY OF SUCH DAMAGE.
###############################################################################

# Defines values for the 'build.properties' build properties
# This file is used to build the project in the case of bundled external jars

objectweb.ant.tasks.path config/ow_util_ant_tasks.jar

biz.aQute.bnd.path biz.aQute.bnd-3.2.0.jar

bcel.path test/lib/bcel-5.2.jar

aspectj.path test/lib/aspectjweaver-1.5.3.jar

serp.path test/lib/serp-1.14.2.jar

javassist.path test/lib/javassist.3.6.GA.jar

janino.path test/lib/janino-2.5.11.jar

cobertura.path test/lib/cobertura-1.9.jar;test/lib/jakarta-oro-2.0.8.jar;test/lib/log4j-1.2.9.jar;test/lib/asm-2.2.1.jar;test/lib/asm-tree-2.2.1.jar

cobertura.runtime.path test/lib/cobertura-1.9.jar

kawa.runtime.path test/lib/kawa-1.9.1.jar

csg-bytecode.runtime.path test/lib/csg-bytecode.jar

cojen.runtime.path test/lib/cojen-2.0.jar

jbet.runtime.path test/lib/jbet3-R1.jar

jclasslib.runtime.path test/lib/jclasslib.jar

jiapi.runtime.path test/lib/jiapi.jar

rhino.runtime.path test/lib/rhino1_7R1.jar
